* {
    main-bg:            #020819B3;
    main-fg:            #CCD9FFE6;
    main-br:            #1854A1E6;
    main-ex:            #081E4DE6;
    select-bg:          #AADCF080;
    select-fg:          #294652E6;
}
