/* ..........Half Moon.................. */
/* NOTE: optimized for Waybar to prevent overflow */
/* --- 👍 shared by https://github.com/TomekBobrowicz  👍 --- */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 90%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background-color: rgba(26, 27, 38, 0);
  border-bottom: 1px solid rgba(26, 27, 38, 0);
  border-radius: 0px;
  color: #E6B673;
}

#waybar.empty,
#waybar.tiled,
#waybar.floating,
window#waybar.empty,
window#waybar.empty #window {
  background-color: transparent;
}

/* Taskbar & Workspaces */
#taskbar,
#workspaces {
  background: #0F1419;
  margin: 2px;
  padding: 0px 1px;
  border-radius: 12px;
  border: 0px;
  font-style: normal;
  color: #0F1419;
}

#taskbar button,
#workspaces button {
  padding: 0px 4px;
  margin: 2px 2px;
  border-radius: 12px;
  border: 0px;
  color: #0F1419;
  background: linear-gradient(45deg, #95E6CB, #59C2FF, #D2A6FF);
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button.active,
#workspaces button.active {
  opacity: 1.0;
  min-width: 35px;
}

#workspaces button:hover {
  opacity: 0.8;
}

/* Window module */
#window {
  color: #E6E1CF;
  background: #0F1419;
  border-radius: 50px;
  margin: 2px;
  padding: 2px 8px;
}

/* Standard modules */
#temperature,
#memory,
#custom-light_dark,
#custom-swaync,
#custom-hypridle,
#idle_inhibitor,
#clock,
#bluetooth,
#custom-playerctl,
#power-profiles-daemon,
#custom-cycle_wall,
#cpu,
#disk,
#backlight,
#battery,
#mpris,
#network,
#custom-hyprbindings,
#tray,
#pulseaudio,
#custom-notification,
#custom-browser,
#custom-file_manager,
#custom-tty,
#custom-settings,
#custom-weather,
#custom-menu,
#custom-power,
#custom-lock,
#custom-power_vertical,
#keyboard-state,
#custom-wallchange,
#custom-cliphist,
#custom-hyprsunset,
#custom-github_hyde,
#custom-cpuinfo,
#custom-gpuinfo,
#custom-theme,
#custom-wbar,
#custom-updates,
#custom-pomodoro,
#custom-spotify,
#custom-keybindhint {
  background: #0F1419;
  border-radius: 50px;
  margin: 2px;
  padding: 2px 8px;
}

/* Critical battery animation */
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Sliders */
#backlight-slider slider,
#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
  background-color: #6E6A86;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: purple;
}

