   
 /* wallust template - colors-rofi */

* {
active-background: #1B6EBF;
active-foreground: #C0E8F6;
normal-background: #181820;
normal-foreground: #C0E8F6;
urgent-background: #3B94BB;
urgent-foreground: #C0E8F6;

alternate-active-background: #255F87;
alternate-active-foreground: #C0E8F6;
alternate-normal-background: #181820;
alternate-normal-foreground: #C0E8F6;
alternate-urgent-background: #181820;
alternate-urgent-foreground: #C0E8F6;

selected-active-background: #3B94BB;
selected-active-foreground: #C0E8F6;
selected-normal-background: #3B94BB;
selected-normal-foreground: #C0E8F6;
selected-urgent-background: #1B6EBF;
selected-urgent-foreground: #C0E8F6;

background-color: #181820;
background: rgba(0,0,0,0.7);
foreground: #C0E8F6;
border-color: #1B6EBF;

color0: #3F3F48;
color1: #04102F;
color2: #081837;
color3: #1B4865;
color4: #14528F;
color5: #2C6F8C;
color6: #398EAB;
color7: #9DD6E9;
color8: #6E96A3;
color9: #06163F;
color10: #0A2049;
color11: #255F87;
color12: #1B6EBF;
color13: #3B94BB;
color14: #4CBEE4;
color15: #9DD6E9;


}

