   
 /* wallust template - colors-rofi */

* {
active-background: #06DEE6;
active-foreground: #F9FDAE;
normal-background: #110000;
normal-foreground: #F9FDAE;
urgent-background: #E3EAE5;
urgent-foreground: #F9FDAE;

alternate-active-background: #13E821;
alternate-active-foreground: #F9FDAE;
alternate-normal-background: #110000;
alternate-normal-foreground: #F9FDAE;
alternate-urgent-background: #110000;
alternate-urgent-foreground: #F9FDAE;

selected-active-background: #E3EAE5;
selected-active-foreground: #F9FDAE;
selected-normal-background: #E3EAE5;
selected-normal-foreground: #F9FDAE;
selected-urgent-background: #06DEE6;
selected-urgent-foreground: #F9FDAE;

background-color: #110000;
background: rgba(0,0,0,0.7);
foreground: #F9FDAE;
border-color: #06DEE6;

color0: #110000;
color1: #6228AC;
color2: #B70A10;
color3: #0EAE19;
color4: #04A7AD;
color5: #AAB0AC;
color6: #B2BA12;
color7: #EEF383;
color8: #A7AA5C;
color9: #8235E5;
color10: #F40D16;
color11: #13E821;
color12: #06DEE6;
color13: #E3EAE5;
color14: #EEF818;
color15: #EEF383;


}

