
* {
  active-background: #6B3A3A;
  active-foreground: #FFFFFF;
  normal-background: #080505;
  normal-foreground: #210D0C;
  urgent-background: #7D4B4B;
  urgent-foreground: #FFFFFF;

  alternate-active-background: #522929;
  alternate-active-foreground: #FFFFFF;
  alternate-normal-background: #080505;
  alternate-normal-foreground: #FFFFFF;
  alternate-urgent-background: #080505;
  alternate-urgent-foreground: #FFFFFF;

  selected-active-background: #7D4B4B;
  selected-active-foreground: #FFFFFF;
  selected-normal-background: #7D4B4B;
  selected-normal-foreground: #FFFFFF;
  selected-urgent-background: #6B3A3A;
  selected-urgent-foreground: #FFFFFF;

  background-color: #080505;
  background: rgba(8,5,5,1);
  foreground: #FFFFFF;
  border-color: #6B3A3A;

  color0: #522929;
  color1: #6B3A3A;
  color2: #7D4B4B;
  color3: #8F5757;
  color4: #A36565;
  color5: #C27A7A;
  color6: #E69A9A;
  color7: #F0AAAA;
  color8: #FFCCCC;
  color9: #522B29;
  color10: #6B3C3A;
  color11: #7D4D4B;
  color12: #8F5A57;
  color13: #A36865;
  color14: #C27E7A;
  color15: #E69D9A;
}

