[Unit]
Description=Keep my Waybar alive

[Service]
ExecStart=%h/.config/hypr/scripts/Waybar-watcher.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target

